# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# used Zero-Install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# ignore top-level vscode settings
/.vscode/settings.json

# exclude IntelliJ/WebStorm stuff
.idea

# astro
dist/
_site/
scripts/smoke/*-main/
scripts/memory/project/src/pages/
*.log

packages/astro/src/**/*.prebuilt.ts
!packages/astro/vendor/vite/dist
packages/integrations/**/.netlify/

/public/search-index/**/*
