---
import { Picture } from "astro-imagetools/components";
import { AstroSeoProps } from "@coms/AstroSeo";
import BaseLayout from '@lays/BaseLayout.astro';
import BlogHeader from "@coms/BlogHeader.astro";
import config from '../../blog.config.js';

const seo: AstroSeoProps = {
	title: "About"
}
---

<BaseLayout config={config} seo={seo}>
	<main class="w-full">
		<div class="max-w-3xl w-full mx-auto">
			<BlogHeader config={config} />

			<div class="w-fit shadow-sm">
				<Picture src="/public/social.png" alt="social" w={300} h={112} />
			</div>
			<div class="w-fit shadow-sm">
				<Picture src="/public/assets/blog/introducing-astro.jpg" alt="social" w={300} h={112} />
			</div>
		</div>
	</main>


</BaseLayout>