---
import MainLayout from '$lays/MainLayout.astro';
import config from '$config';
import Hero from '$coms/layout/Hero.astro';

const {title, description, avatar, social} = config;
const canonicalURL = Astro.url.toString();
const props = {
  wide: true,
  seo: {
    title: title,
    description: description,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: true},
    rss: {enabled: true, expanded: false},
    search: {enabled: false, expanded: true},
    series: {enabled: false, expanded: true},
    theme: {enabled: false, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero category={'Section'} title={'Portfolio'} subtitle={''} />

    <div class='flex flex-col'>
      <article class='max-w-4xl w-full mx-auto px-5 pt-8 pb-32'>portfolio list...</article>
    </div>
  </main>
</MainLayout>
