---
import MainLayout from '$lays/MainLayout.astro';
import config from '$config';
import Hero from '$coms/layout/Hero.astro';
import '$styles/article.scss';

const {title, description, avatar, social} = config;
const canonicalURL = Astro.url.toString();
const props = {
  wide: true,
  seo: {
    title: title,
    description: description,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: true},
    rss: {enabled: true, expanded: false},
    search: {enabled: false, expanded: true},
    series: {enabled: false, expanded: true},
    theme: {enabled: false, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero category={'Section'} title={'Portfolio'} subtitle={''} />

    <div class='flex flex-col'>
      <article id='article-container' class='max-w-4xl w-full mx-auto px-5 pt-8 pb-32'>
        <h3>1. 무형문화연구원 웹사이트</h3>
        <figure>
          <img
            src='/images/portfolio/cics.center_1120.png'
            alt='screenshot'
            width='1120'
            height='840'
          />
          <figcaption>CICS Website</figcaption>
        </figure>
        <!-- <video class='mb-2' controls preload='auto'>
          <source src='/assets/test.webm' type='video/webm' />
          <source src='/assets/test.mp4' type='video/mp4' />
          <p>
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that supports HTML5 video.
          </p>
        </video> -->
        <p>
          <a href='https://cics.center/' target='_blank' rel='noopener'>바로가기</a>
        </p>
        <p>
          <b>기술 스택</b>
        </p>
        <ul>
          <li>Backend : Spring Boot, Spring Data JPA, Firebase Admin</li>
          <li>Frontend : Next.js(React), styled-components, Firebase/Firebase Admin</li>
          <li>Database : MariaDB</li>
          <li>CI/CD : GitHub Actions(프론트엔드에서만 사용)</li>
          <li>Image resizing : AWS Lambda, AWS S3</li>
          <li>Ops : Amazon EC2, PM2</li>
        </ul>

        <h3>2. 무형유산학회 웹사이트</h3>
        <figure>
          <img
            src='/images/portfolio/ihstudies.org_1120.png'
            alt='screenshot'
            width='1120'
            height='840'
          />
          <figcaption>IHStudies Website</figcaption>
        </figure>
        <!-- <video class='mb-2' controls preload='auto'>
          <source src='/assets/test.webm' type='video/webm' />
          <source src='/assets/test.mp4' type='video/mp4' />
          <p>
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that supports HTML5 video.
          </p>
        </video> -->
        <p>
          <a href='https://ihstudies.org/' target='_blank' rel='noopener'>바로가기</a>
        </p>
        <p>
          <b>기술 스택</b>
        </p>

        <ul>
          <li>Frontend : Next.js(React), Tailwind CSS, Firebase/Firebase Admin</li>
          <li>Database : MariaDB</li>
          <li>CI/CD : GitHub Actions(프론트엔드에서만 사용)</li>
          <li>Ops : Amazon EC2, PM2</li>
        </ul>
      </article>
    </div>
  </main>
</MainLayout>
