---
import type { HTMLElement } from "node-html-parser";

export interface Props {
	contents: HTMLElement[]
}

const { contents } = Astro.props as Props;
---

<div class="bg-gray-200 dark:bg-gray-700 rounded-sm py-7 px-10 mb-8" aria-label="Table of Contents">
	<div class="text-xl mb-2.5 font-bold">목차</div>
	{ contents.map((el)=> (
	<div class={`toc text-gray-800 dark:text-gray-300 mb-1.5 ${el.tagName.replace(`H`, `depth` )}`}>
		<a href={`#${el.id}`}>{el.textContent}</a>
	</div>
	)) }
</div>

<style>
	.toc.depth1 {}

	.toc.depth2 {
		padding-left: 1.25rem;
	}

	.toc.depth3 {
		padding-left: 2.75rem;
	}
</style>