---
import {Clickable, SmallButton} from '$coms/classes';
import {SearchLine, StackLine} from '$coms/icons';
import {classes} from '$utils';

interface Props {
  disabled: {
    page?: boolean;
    series?: boolean;
    search?: boolean;
  };
}

const {disabled} = Astro.props;
---

<div class='mb-6 flex items-center justify-end gap-2'>
  <a {...(disabled.page ? {} : {href:'/page/'})} class={classes(Clickable, SmallButton)}>All</a>
  <a {...(disabled.series ? {} : {href:'/series/'})} class={classes(Clickable, SmallButton)}>
    <StackLine />
    Series
  </a>
  <a {...(disabled.search ? {} : {href:'/search/'})} class={classes(Clickable, SmallButton)}>
    <SearchLine />
    Search
  </a>
</div>
