---
import Tags from '@coms/Tags';
import { MarkdownInstance } from 'astro';
import readingTime from 'reading-time';
import { timeFormatter } from '@utils';
import { PostMetadata } from '@types';

export interface Props {
	post: MarkdownInstance<PostMetadata>
}

const { post } = Astro.props as Props;
---

<article class="mb-8 tracking-tight">
	<header class="mb-3 flex flex-col items-start justify-center gap-1 text-start">
		<a href={post?.url || '#error' }>
			<h1 class="text-4xl font-bold">{post.frontmatter.title}</h1>
		</a>
		<p class="text-sm font-light text-gray-700 dark:text-gray-300">
			<span class="after:content-['|'] after:mx-2">{timeFormatter(post.frontmatter.publishDate as string,
				'ko-KR')}</span>
			<span>{readingTime(post.rawContent()).text}</span>
		</p>
	</header>
	<main>
		<p class="line-clamp-3 mb-3">{post.frontmatter.description}</p>
		<!-- <a class="underline decoration-dotted" href={post?.url || "#error" }>Read more</a> -->
		<Tags tags={post.frontmatter.tags as string[] | undefined} />
	</main>
</article>