---
import Head from '$coms/Head.astro';
import AstroSeo, {AstroSeoProps} from '$coms/AstroSeo';
import type {BlogConfigType} from '$types';
import NavBar, {Props as NavBarProps} from '$coms/layout/NavBar.astro';
import Footer from '$coms/layout/Footer.astro';
// import '../styles/global.css';

export interface Props {
  seo?: AstroSeoProps;
  config: BlogConfigType;
  NavigationItems: Omit<NavBarProps, 'wide'>;
  /** Wide Layout. default is false. */
  wide?: boolean;
}

const props = Astro.props as Props;
const defaultSeo: AstroSeoProps = {
  title: props.config.title || '',
  description: props.config.description || '',
};
const blogTheme = () => {
  if (props.config.theme === 'light' || props.config.theme === 'dark') return props.config.theme;
  else return '';
};
---

<html lang={props.config?.locale.languageCode || 'ko'} class={`bg-transparent ${blogTheme()}`}>
  <Head>
    <AstroSeo {...{...defaultSeo, ...(props?.seo || {})}} />
    <script define:vars={{configTheme: props.config.theme}}>
      (function () {
        /* theme 설정이 'system'인 경우는 prefers-color-scheme 미디어 쿼리를 인식하여 설정한다 */
        if (configTheme === 'system') {
          const htmlEl = document.getElementsByTagName('html')[0];
          /* 시스템 테마가 다크이면 */
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            htmlEl.classList.add('dark');
          }
          /* 그 외엔 지정 안함 */
        } else if (configTheme === 'auto') {
          /* theme 설정이 'auto' 인 경우는 브라우저 localStorage에 저장된 값이 있는지 확인하고, 있으면 그 값을 없으면 'light' 로 설정한다. */
          const theme = window.localStorage.getItem('theme');
          const htmlEl = document.getElementsByTagName('html')[0];
          if (theme) {
            htmlEl.classList.remove(theme === 'light' ? 'dark' : 'light');
            htmlEl.classList.add(theme);
          }
          // console.debug({theme});
        }
        /* theme 설정이 'light' 혹은 'dark' 인 경우는 astro에서 처리한다. */
      })();
    </script>

    {/* KaTeX CSS */}
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css'
      integrity='sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X'
      crossorigin='anonymous'
    />
  </Head>

  <body class='w-full dark:bg-zinc-900 dark:text-zinc-50'>
    <NavBar {...props.NavigationItems} wide={props?.wide || false} />

    <slot />

    <Footer wide={props?.wide || false} />
  </body>
</html>
